@{
    ViewData["Title"] = "Home Page";
}
@*<div class="row">
        <div class="col-sm-3">
            Image
        </div>
        <div class="col-sm-3">
            Dropdown
        </div>
        <div class="col-sm-3">
            comparison
        </div>
        <div class="col-sm-3">
            search model, features, etc
        </div>
    </div>*@
<div class="row">
    <div class="col-sm-6">
        <a href="/Vehicle/Class/Cars" class="btn btn-danger w-100 c-white">CARS</a>
        <a href="/Vehicle/Class/Cars" class="">
            <img src="~/images/carsAndMinivan.jpeg" class="img-responsive home-image" />
        </a>

    </div>
    <div class="col-sm-6">
        <a href="/Vehicle/Class/Suvs" class="btn btn-danger w-100 c-white">CROSSOVER & SUVS</a>
        <a href="/Vehicle/Class/Suvs" class="">
            <img src="~/images/crossoverAndSuvs.jpg" class="img-responsive home-image" />
        </a>
       
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <a href="/Vehicle/Class/Trucks"class="btn btn-danger w-100 c-white">TRUCKS</a>
        <a href="/Vehicle/Class/Trucks" class="">
            <img src="~/images/trucks.jpg" class="img-responsive home-image" />
        </a>

    </div>
    <div class="col-sm-6">
        <a href="/Vehicle/Class/Hybrids" class="btn btn-danger w-100 c-white"> HYBRIDS AND FUEL CELL</a>
        <a href="/Vehicle/Class/Hybrids">
            <img src="~/images/hybrid.jpg" class="img-responsive home-image" />
        </a>

    </div>
</div>